@import "variables.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: $color-grey-dark-3;
  padding: 3rem;
  padding-top: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
}

//TIMELINE PRINT STYLES
@media print {
  .emblem-background {
    // display: none;
    background-image: none;
  }

  .unit-new {
    visibility: hidden;
  }

  .timeline-wrapper {
    overflow: visible;
    border: none;
    transform: scale(0.6, 0.7) translate(-35%);
    float: right;
  }

  .timeline-info {
    position: initial;
  }
}

@page {
  size: A3 landscape;
  bleed: 1;
}
