.calendar {
  position: sticky;
  top: 60px;
  background: #f2f3f2;
  font-size: 1.1rem;
  font-weight: 550;
  word-break: break-all;
  z-index: 1;

  &-cell {
    width: 35px;
    height: 35px;
    border: 1px solid black;

    &.fluid {
      width: 100%;
    }
  }
}
