.units-grid {
  &-title {
    height: 120px;
    background: #dee2e6;
    border: 1px solid #000;
    font-size: 22px;
    position: sticky;
    top: 0;
  }

  .unit {
    border: 1px solid #000;
    flex-grow: 1;
    padding: 0 15px;
    min-width: 160px;

    &-last-generation {
      height: 60px;
    }

    &-last-of-group:not(:last-child) {
      box-shadow: 0 2px 0#007bff;
    }
  }
}
