@import "variables.scss";

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: $color-grey-dark-3;

  .react-datepicker-popper {
    z-index: 10;
  }
}

.date_picker {
  font-size: 1.1rem;
  color: $color-grey-dark-3;
  border: 1px solid $color-grey-dark;
  border-radius: 5px;
}
