@import "variables.scss";

.last-events-list-icon {
  cursor: pointer;
}

.sub-text {
  color: $color-grey-light-3;
  font-size: 0.8em;
  float: right;
  font-style: italic;
}

.last-events-list {
  max-height: 50vh;
  overflow-y: scroll;

  @include customScroll;

  .event-title {
    font-size: 0.85em;
    color: $color-grey-dark;
  }
}
