.high-level-sections {
  .section {
    border: 1px solid black;
    max-width: unset;
    height: 60px;
    background: #fff;
    // color: #000;
    font-size: 1.3rem;

    &.empty {
      background: #f2f3f2;
      border: 0;

      &:last-child {
        border-right: 1px solid black;
      }
    }
  }
}
