@import "variables.scss";

.header {
  position: sticky;
  top: 0;
  color: #00000080;
  z-index: 100;

  .brand {
    color: $color-grey-dark-3;
    font-size: 1.25em;
    font-weight: 600;
  }
  .logo {
    width: 55px;
    height: 30px;
    margin-right: 5px;
  }
  .date_picker {
    color: $color-grey-dark-3;
    border: 1px solid $color-grey-dark;
    border-radius: 5px;
  }
}
