@import "variables.scss";

.event-type-list {
  max-height: 79vh;
  overflow-y: scroll;

  @include customScroll;
}

.event-type {
  & .close {
    visibility: hidden;
  }
}

.event-type:hover {
  & .close {
    visibility: visible;
  }
  background: red($color: #000000);
}

.color-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
