.event-type-list {
  max-height: 80vh;
  overflow-y: scroll;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #fff;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: #c3c3c3;
    }
  }
}

.event-type {
  & .close {
    visibility: hidden;
  }
}

.event-type:hover {
  & .close {
    visibility: visible;
  }
  background: red($color: #000000);
}

.color-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
