.timeline {
  &-wrapper {
    overflow: auto;
    border: 1px solid black;
  }

  &-left {
    max-width: max-content;

    &::after {
      content: "";
      display: block;
      width: 500px;
    }
  }
}

.stick-to-top {
  position: sticky;
  top: 0;
  z-index: 2;
}
