.timeline {
  &-wrapper {
    overflow: auto;
    border: 1px solid black;
    max-height: 79vh;
    scroll-behavior: smooth;
  }

  &-left {
    max-width: max-content;
  }

  &-info {
    position: sticky;
    right: 0;
    z-index: 2;
    background: #fff;
  }
}

.stick-to-top {
  position: sticky;
  top: 0;
  z-index: 3;
}
